#main_container{
    height: 2500px;
    width: 120%;
    margin-top: -400px;
    left: -10%;
    padding-top: 100px;
    background-color: #00bd10;
    border-radius: 1200px / 400px 400px 0 0;
}

#color_pickers_container{
    width: 100%;
    padding-top: 200px;
    margin: auto;
    text-align: center;
    
}

#color_picker_block_1, #color_picker_block_2{
    width: 90%;
    margin: 40px;
    padding: 20px;
    height: 370px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
#color_picker_block_2{right: 0;}
.color_picker{
    width: 130px;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 2px hsla(0, 0%, 20%, 0.35);
    margin: 30px 20px;
    color: #444;
}
.color{
    background-color: aqua;
    display: inline-block;
    width: 105px;
    height: 135px;
    border-radius: 5px;
}


