/*page setting*/
body{
    margin: 0;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
a{color: #000;}

/*page layout style setting*/
header{
    width: 100%;
    height: 75px;
    background-color: #fff9f0;
    position: relative;
    box-shadow: 0 0 10px 1px #00000055;
}
#main_container{
    height: calc(100% - 125px);
    width: 100%;
    top: 75px;
    background-color: #ffcdab;
    z-index: -1;
}
#content{
    height: 530px;
    width: 1000px;
    background-color: #ffffff;
    margin: 0 calc((100% - 1000px) / 2);
    box-shadow: 0 0 10px 1px #00000027
}
footer{
    width: 100%;
    height: 50px;
    background-color: #5d5d5a;
    bottom: 0;
}
#main_menu{
    position: absolute;
    right: 0;
    bottom: 10px;
    margin: 0;
    list-style: none;
    margin-right: 50px;
    display: block;
}
.box{position: fixed;}
.box::before{
    content: attr(data-name);
    top: 0;
    left: 0;
    width: 100px;
    height: 30px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 24px;
    padding: 0 10px;
}
.main_item{
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    height: 36px;
    border-radius: 5px;
    float: left;
    width: 150px;
    margin: 10px;
    transition: all .25s;
}
.sub_menu{
    clear: both;
    padding: 0;
    list-style: none;
    display: none;
    border-radius: 5px;
    background-color: #ffffff;
}
.sub_item{
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin:0 25px 5px 25px;
    transition: all .25s;
}
.main_item:hover .sub_menu{
    display: block;
}
.main_item:hover, .sub_item:hover{
    font-size: 24px;
}


/*color picker style setting*/
.color_input{
    border: 0;
    margin: 10px;
    background-color: #eee;
    height: 24px;
    width: 200px;
}
#color_picker_containers{
    margin: -5px auto;
    height: 90%;
    width: 700px;
    text-align: center;

}
.color_picker_container{
    width: 140px;
    padding: 15px 10px;
    margin: 7px 30px;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 4px 10px 5px #00000030;
}
.color_picker{
    width: 120px;
    height: 130px;
    margin: auto;
    background-color: #613f0b;
    border-radius: 2px;
}

.picker_title{
    width: 200px;
}
.target_name{
    font-size: 24px;
}